/plugin_framework/GuitarAmpPlugin/Builds/
/plugin_framework/GuitarAmpPlugin/cmake-build-debug/
/plugin_framework/reference-distortion/
/plugin_framework/JUCE/
/plugin_framework/FRUT/
/plugin_framework/ProcessorGraphTest/bld/
.DS_Store
/.idea
